html, body {
    background-color: #05182c;
    color: #d9fa02;
    font-family: 'Courier', monospace;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

a {
    color: #02abfa;
}

a:hover, a:focus {
    color: #1f96cc;
}

label {
    cursor: pointer;
    display: block;
    font-size: .8em;
    padding: 0 0 3px 3px;
}

input, button, select, textarea {
    border: 0;
    border-radius: 8px;
    font-family: 'Courier', monospace;
    padding: 10px 15px;
}

select {
    appearance: none;
    background: #0a233f;
    color: #d9fa02;
    cursor: pointer;
}

input[type=text], textarea {
    background: #0a233f;
    caret-color: #d9fa02;
    color: #d9fa02;
    width: calc(100% - 30px);
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: 0;
    background: #102b48;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #102b48 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #d9fa02 !important;
}

.error {
    color: #fa0259;
}

input[type=submit], button {
    background: #d9fa02;
    cursor: pointer;
    color: #0a233f;
}

input[type=submit]:hover:enabled, input[type=submit]:focus:enabled, button:hover:enabled, button:focus:enabled {
    background: #c0de00;
    color: #102b48;
    position: relative;
    top: 1px;
    left: 1px;
}

input[type=submit]:active, button:active {
    opacity: .9;
}

input[type=submit]:disabled, button:disabled {
    cursor: not-allowed;
    background: #a6bf00;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.col-2, .col-3, .col-4, .col-6, .col-12 {
    padding: 0 0 1em 0;
}

@media (max-width: 900px) {
    .col-2, .col-3, .col-4, .col-6, .col-12 {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .col-2, .col-3, .col-4, .col-6, .col-12 {
        flex-basis: 0;
        flex-grow: 1;
        padding-right: 1em;
    }

    .col-2 {
        max-width: 16.66667%;
    }

    .col-3 {
        max-width: 25%;
    }

    .col-4 {
        max-width: 33.33333%;
    }

    .col-6 {
        max-width: 50%;
    }

    .col-12 {
        max-width: 100%;
    }
}